asgiref==3.3.4
dj-database-url==0.5.0
Django==3.2.4
django-bootstrap-datepicker-plus==3.0.5
django-environ==0.4.5
django-filter==21.1
django-heroku==0.3.1
django-sendgrid-v5==0.9.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
ExtensionClass==4.5.1
future==0.18.2
gunicorn==20.1.0
psycopg2==2.7.7
python-dotenv==0.17.1
python-http-client==3.3.2
pytz==2021.1
Record==3.5
sendgrid==6.7.0
sqlparse==0.4.1
starkbank-ecdsa==1.1.1
typing-extensions==3.10.0.0
whitenoise==5.2.0
